.comment-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comment-container:not(:first-child) {
    margin-top: 20px;
}

.comment-author {
    margin-left: 10px;
    color: rgb(38,38,38);
    font-weight: bold;
}

.comment-content {
    margin-left: 10px;
}

.comment-nocomment {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}