@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

.navigation {
    position: fixed;
    height: 100vh;
    width: 22%;
    border-color: #e7edf2;
    color: #838daa;
    background-color: #f8f9fb;
    font-family: 'Nunito Sans', sans-serif;
}

.content__page {
    margin-left: 22%;
}

.navigation::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
	border-radius: 10px;
	background: transparent;
}

.navigation::-webkit-scrollbar
{
	width: 5px;
}

.navigation::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.2);
	background-color: rgba(0,0,0,.2);;
}

.navigation__title {
    padding: 50px;
    background-color: #383a45;
    background-image: linear-gradient(135deg, #4f5261 0%, #383a45 50%);
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navigation__title__content {
    margin: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
}

.navigation__title__secondary {
    font-size: 0.9em;
}

/* links */
.navigation__links {
    padding: 50px;
}

.category__title {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 1em;
}

.category__card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: color 0.5s ease,transform 0.5s ease;
    position: relative;
}

.category__card span {
    padding: 5px 0px;
}

.category__card div {
    font-size: 1.5em;
}

.category__card .icon__fire {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 0;
    right: 0;
}

.category__card .icon__fire span {
    font-size: 0.5em;
    color: #DB2222;
    font-weight: bold;
}

.category__card:hover {
    color: #4caf50;
    transform: scale(110%);    
}



.navigation__card__login {
    background: #fff;
    padding: 2.25rem 2rem;
    margin-top: 1.5rem;
    border-radius: 12px;
    position: relative;
    margin: 1rem auto -75px;
    box-shadow: 0 15px 100px rgb(58 46 68 / 6%);
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    color: #4f515b;
}

.navigation__card__login::before {
    content: "";
    background: #fff;
    width: 90%;
    height: 95%;
    border-radius: 12px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: -12px;
    z-index: -1;
    box-shadow: 0 15px 100px rgb(58 46 68 / 6%);
}

.navigation__card__login h4 {
    font-weight: 800;
    letter-spacing: 2px;
    margin-bottom: 0.75rem;
}

@media screen and (min-width: 1799.98px) {
    .navigation__card__login {
        max-width: 280px;
    }
    
}

/* stats */
.navigation__card__stats {
}

.navigation__card__stats h3 {
    font-weight: 600;
    letter-spacing: 1px;
}

.navigation__card__stats div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

/* footer */
.footer {
    position: absolute;
    bottom: 30px;
    padding: 0px 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.social__network__links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.social__network__links span {
    margin-right: 10px;
    font-weight: 600;
    letter-spacing: 1px;
}

.copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.copyright span {
    font-weight: 600;
    letter-spacing: 1px;
}

.notifications_number {
    position: absolute;
    top: -8px;
    right: -13px;
    color: #303030;
    border-radius: 50%;
    padding: 3px 8px;
    background: white;
    font-size: 12px;
}

.notification_div_fixed {
    position: absolute;
    background-color: #303030;
    right: 11%;
    width: 250px;
    border-radius: 10px;
    color: white;   
}

.notification_div_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 5px;
    border-bottom: 2px solid white;
}