.card-post {
    /* box-shadow: 0 4px 25px 0 rgb(168 180 208 / 10%); */
    padding: 15px 10px;
    border-radius: 20px;
    background-color: #1d1d1d;

}

.card-posts {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 50%;
    border-radius: 7px;
    margin-top: 20px;
}

.card-body {
    display: flex;
    padding: 25px;
    flex-direction: column;
}

.card-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.card-title {
    text-align: left;
    margin-top: 15px;
    font-size: 1.3rem;
    letter-spacing: 0.5px;
}



.card-body-date {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* text-align: left; */
    font-size: 0.8rem;
    margin-left: 5px;
    justify-content: space-between;
}

.card-body-content {
    margin-top: 15px;
    text-align: left;
    font-size: 1rem;
}

.card-footer {
    border-radius: 0 0 7px 7px;
    border-top: 1px solid #e9edf4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.card-footer-liked {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-footer-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon-size-footer {
    font-size: 1.5rem;
}

.TextField-with-border-radius fieldset {
    border-radius: 50px;
    cursor: pointer;
    background-color: white;
    /* border: 1px solid #303030; */
}

/* refonte graphique */
.post_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    width: 40%;
    margin-bottom: 40px;
}

.post_title_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    padding: 10px 0;
    border-bottom: 3px solid white;
}

.post_title {
    font-size: 1.5rem;
    font-weight: 600;
    max-width: 80%;
}

.post_date {
    color: #959595;
}

.post_categories_container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: flex-start;
    align-items: center;
}

.post_categories {
    border-radius: 20px;
    padding: 5px 10px;
}

.post_content_container {
    background-color: #1d1d1d;
    border-radius: 5px;
    text-align: left;
    padding: 10px 20px;
}

.post_icons_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}


/* V1 */
.post_container_widget {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: #1d1d1d;
    color: white;
    gap: 30px;
    padding: 0;
}

.post_newpost {
    font-size: 20px;
    font-weight: 700;
    line-height: 25.3px;
}

.post_photovideo,
.post_onlytext {
    padding: 18px 0;
    border-radius: 29px;
    background-color: #303030;
    /* width: 100%; */
    flex-grow: 4;
    cursor: pointer;
    transform: translateZ(0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.post_photovideo:hover,
.post_photovideo:focus,
.post_photovideo:active {
    transform: scale(1.05);
}

.post_onlytext:hover,
.post_onlytext:focus,
.post_onlytext:active {
    transform: scale(1.05);
}

/* 
.post_onlytext {
    padding: 10px;
    border-radius: 30px;
    background-color: #303030;
} */

.title_container_comment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    color: white;
}

.title_comments_title {
    font-weight: 700;
    font-size: 20px;
}

.title_comments_closebtn {
    font-weight: 300;
    font-size: 15px;
}

.comments_section_display_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    width: 40%;
    padding: 15px 10px;
}

.comments_section_display_container_msg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    width: 40%;
    padding: 15px 10px;
}

.comments_flexbox {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.container_comment {
    background-color: #1d1d1d;
    border-radius: 7px;
    margin-top: 9px;
}

.comments_section_display_pseudo {
    color: white;
    font-weight: 450;
    font-size: 15px;

}

.comments_section_display_input_send_comment {
    margin-left: 19px;
}

.comments_section_display_input_send_comment input {
    background-color: transparent;
    color: white;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 17px;
}

.comments_section_display_input_send_comment input:focus {
    outline: none;
}

.comments_section_display_input_send_comment input::placeholder {
    color: #7c7c7c;
}

.comments_section_display_content {
    margin-left: 19px;
    font-weight: 300;
    font-size: 12px;
}

.comment_content {
    margin-top: 10px;
    font-weight: 300;
    font-size: 12px;
}