.card-post {
    /* box-shadow: 0 4px 25px 0 rgb(168 180 208 / 10%); */
    padding: 25px;
    border-radius: 7px;
    background-color: #1d1d1d;

}

.card-posts {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 50%;
    border-radius: 7px;
    margin-top: 20px;
}

.card-body {
    display: flex;
    padding: 25px;
    flex-direction: column;
}

.card-row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.card-title {
    text-align: left;
    margin-top: 15px;
    font-size: 1.3rem;
    letter-spacing: 0.5px;
}



.card-body-date {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* text-align: left; */
    font-size: 0.8rem;
    margin-left: 5px;
    justify-content: space-between;
}

.card-body-content {
    margin-top: 15px;
    text-align: left;
    font-size: 1rem;
}

.card-footer {
    border-radius: 0 0 7px 7px;
    border-top: 1px solid #e9edf4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.card-footer-liked {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-footer-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon-size-footer {
    font-size: 1.5rem;
}

.TextField-with-border-radius fieldset {
    border-radius: 50px;
    cursor: pointer;
    background-color: white;
    /* border: 1px solid #303030; */
}

/* refonte graphique */
.post_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    width: 50%;
    margin-bottom: 40px;
}

.post_title_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    padding: 10px 0;
    border-bottom: 3px solid white;
}

.post_title {
    font-size: 1.5rem;
    font-weight: 600;
    max-width: 80%;
}

.post_date {
    color: #959595;
}

.post_categories_container {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: flex-start;
    align-items: center;
}

.post_categories {
    border-radius: 20px;
    padding: 5px 10px;
}

.post_content_container {
    background-color: #1d1d1d;
    border-radius: 5px;
    text-align: left;
    padding: 10px 20px;
}

.post_icons_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}